
.about{
	margin-left: 20px;
	margin-right: 20px;

	flex-direction: column;
	justify-content: center;

	@media (max-width:768px) {
		margin: 0 0 100px 0;
	}

}

.about-header, .about-footer {
	justify-content: center;
	gap: 35px;
}

.about-header img:last-child {
	transform: scaleX(-1);
}

.about-footer img:first-child {
	transform: scaleY(-1);
}

.about-footer img:last-child{
	transform: scale(-1, -1);
}

.about-header h1 {
	position: relative;
	top: -25px;
}

.about-footer_logo {
	width: 192px;

	position: relative;
	top: 50px;
}


.about-wraper {
	justify-content: space-around;
	align-items: center;

	@media (max-width:768px) {
		flex-direction: column;
		gap: 10px;
	}
}

.model-wraper{
	position: relative;
}

.model-plus {
	position: absolute;
}

.model-plus:first-child{
	top: 0;
	left: 0;
}

.model-plus:nth-child(2){
	top: 0;
	right: 0;
}

.model-plus:nth-child(3){
	bottom: 0;
	left: 0;
}

.model-plus:nth-child(4) {
	bottom: 0;
	right: 0;
}

.model {
	width: 350px;
	height: 550px;

	background-image: url(/src/assets/image/plus_bg.svg);
	background-repeat: space;
}

.model-loader {
  position: absolute;
  inset: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: #333;
  z-index: 10;
}

.loader-line {
  width: 200px;
  height: 4px;
  margin-top: 12px;
  background: #333;
  overflow: hidden;
  border-radius: 4px;
}

.loader-line__progress {
  height: 100%;
  background: white;
  transition: width 0.2s ease;
}



.about-mobile_block {
	align-items: end;
	gap: 10px;
}

.about-mobile_block img:last-child{
	transform: scaleX(-1);
}

.about-name {
	margin-top: 50px;

	position: relative;
	top: -18px;

	font-weight: 100;
}

.about-content{
	width: 430px;

	flex-direction: column;
	justify-content: start;
	align-items: start;
	gap: 20px;

	text-align: left;

	@media (max-width:768px) {
		width: 100%;
	}
}

.lesta {
	
	height: 50px;
}

.sber {
	height: 35px;
}