.offers {
	padding: 0 20px;

	position: relative;

	flex-direction: column;
	align-items: center;
	gap: 25px;
}

.offers-header{
	gap: 20px;
}

.offers-header img:last-child{
	transform: scaleX(-1);
}

.offers-content {
	flex-direction: column;
	gap: 40px;

	@media (max-width:768px) {
		gap: 0px;
	}
}

.offer {
	align-items: center;
	gap: 40px;

	@media (max-width:768px) {
		padding: 12px;
		border: solid 1px black;
		
		flex-direction: column;
		gap: 30px;
	}
}

.offer-header{
	width: 310px;

	flex-direction: column;
	align-items: end;

	@media (max-width:768px) {
		align-items:center;
	}
}

.offers-header h1 {
	position: relative;
	top: -25px;
}

.offer-header img {
	width: 71px;

	position: relative;
	left: 15px;
}

.offer-description {
	max-width: 340px;

	text-align: left;

	@media (max-width:768px) {
		text-align: center;
	}
}

.offer-list {
	text-align: left;
	padding: 0;
}

.offers-decore {
	transform: rotate(-90deg);

	position: absolute;
	bottom: 125px;
	left: -50px;

	color: var(--Light-gray);
	font-size: 272px;
	font-weight: 900;

	z-index: -1;
}